<md-dialog aria-label="selectRate"  ng-cloak>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>修改密码</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel($event)">
        <md-icon md-svg-src="front_frame/angular-material/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;min-width:400px; ">
    <div class="md-dialog-content" style="font-weight:bold;">
        <md-input-container class="md-block">
          <label>旧密码：</label>
          <input ng-model="user.oldpwd" required  type="password"/>
        </md-input-container> 
      
        <md-input-container class="md-block">
          <label>新密码：</label>
          <input ng-model="user.newpwd" required  ng-focus="isError=false" type="password"/>
        </md-input-container> 
      
        <md-input-container class="md-block">
          <label>确认新密码：</label>
          <input ng-model="user.sureNewpwd" required  ng-focus="isError=false"  type="password"/>
        </md-input-container> 
        <div ng-show="isError" style="color:red;">
          新密码前后输入不一致，请重新输入！
        </div>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer($event)" type="submit" class="md-raised md-accent" style="margin-right:20px;" >
      确定
    </md-button>
  </div>
  </form>
</md-dialog>